Repository Sina-shafiee/zinary_poetry_frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint, pnpm run format

feat(poet): resuable hook for table search params
  src/app/routes/writer-panel/poet/poets.tsx
  src/features/poet/api/get-poets.ts
  src/features/poet/hooks/use-poet-table-search-params.ts
Due: pnpm run lint, pnpm run format

feat(poet): delete mutation & dialog
  src/features/poet/api/delete-poet.ts
  src/features/poet/components/data-table.tsx
  src/features/poet/components/delete-dialog.tsx
  src/lib/gql/gql.ts
  src/lib/gql/graphql.ts
Due: pnpm run lint, pnpm run format

fix: removed gql generated files from eslint ignore
  eslint.config.js
Due: none

fix: bug caused by media query
  src/components/ui/sidebar/sidebar.tsx
  src/components/ui/sidebar/user-sidebar.ts
  src/config/media-queries/index.ts
Due: pnpm run lint, pnpm run format

fix(ui): drawer text direction & delete button size
  src/components/ui/drawer/drawer.tsx
  src/features/poet/components/delete-dialog.tsx
Due: pnpm run lint, pnpm run format

fix: padding xd
  src/components/layout/writer-dashboard-layout.tsx
Due: pnpm run lint, pnpm run format

feat(ui): date picker component
  package.json
  pnpm-lock.yaml
  src/components/ui/date-picker/date-picker.tsx
  src/components/ui/date-picker/index.ts
Due: pnpm run lint, pnpm run format

fix(ui): notification position
  src/components/ui/sonner/sonner.tsx
Due: pnpm run lint, pnpm run format

fix(ui): close button position
  src/components/ui/sheet/sheet.tsx
Due: pnpm run lint, pnpm run format

feat(poet): update mutation and sheet
  src/features/poet/api/update-poet.ts
  src/features/poet/components/columns.tsx
  src/features/poet/components/data-table.tsx
  src/features/poet/components/update-sheet.tsx
  src/lib/gql/gql.ts
  src/lib/gql/graphql.ts
Due: pnpm run lint, pnpm run format

fix(ui): date picker calander shadow
  src/styles/main.css
Due: pnpm run format

perf: lazy load writer panel layout
  src/app/router.tsx
  src/components/layout/writer-dashboard-layout.tsx
Due: pnpm run lint, pnpm run format

fix(ui): color plate
  src/styles/main.css
Due: pnpm run format

feat(ui): tailwind scrollbar plugin
  package.json
  pnpm-lock.yaml
  tailwind.config.js
Due: none

fix: logout redirect
  src/components/layout/writer-dashboard-sidebar.tsx
  src/features/auth/api/logout.ts
Due: pnpm run lint, pnpm run format

fix: skeleton bg
  src/components/ui/skeleton/skeleton.tsx
Due: pnpm run lint, pnpm run format

fix(ui): input shadow
  src/components/ui/input/input.tsx
Due: pnpm run lint, pnpm run format

fix(ui): date picker size and shadow
  src/components/ui/date-picker/date-picker.tsx
Due: pnpm run lint, pnpm run format

feat(ui): page title comp
  src/components/ui/page-title/index.ts
  src/components/ui/page-title/page-title.tsx
Due: pnpm run lint, pnpm run format

feat(poet): update route muatation and components
  src/app/router.tsx
  src/app/routes/writer-panel/poets/poets.tsx
  src/app/routes/writer-panel/poets/update-poet.tsx
  src/components/plate-ui/editor.tsx
  src/config/paths/index.ts
  src/features/poet/api/get-poet.ts
  src/features/poet/api/update-poet.ts
  src/features/poet/components/columns.tsx
  src/features/poet/components/data-table.tsx
  src/features/poet/components/update-form-skeleton.tsx
  src/features/poet/components/update-form.tsx
  src/features/poet/components/update-sheet.tsx
  src/lib/gql/gql.ts
  src/lib/gql/graphql.ts
Due: pnpm run lint, pnpm run format

Path conditions:
  pnpm run lint: any of: *.{tsx,ts}
  pnpm run format: ((any of: *.{tsx,ts}) or (any of: *.{html,css})) or (any of: *.md)
