Repository Sina-shafiee/zinary_poetry_frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint, pnpm run format

.lintstagedrc:

{
    "*.{tsx,ts}": ["pnpm run lint", "pnpm run format"],
    "*.{html,css}": "pnpm run format",
    "*.md": "pnpm run format"
}

chore(npm): save exact version of package
  .npmrc
  package.json
  pnpm-lock.yaml
Due: none

chore: prettier config
  .prettierrc
  package.json
  pnpm-lock.yaml
Due: none

style: formatted default files
  .prettierrc
  src/app.tsx
  src/main.tsx
Due: pnpm run lint, pnpm run format

chore(codegen): setup
  .gitignore
  .vscode/settings.json
  codegen.ts
  package.json
  pnpm-lock.yaml
  src/lib/gql/fragment-masking.ts
  src/lib/gql/gql.ts
  src/lib/gql/graphql.ts
  src/lib/gql/index.ts
  tsconfig.app.json
Due: pnpm run lint, pnpm run format

chore: env setup
  .gitignore
  src/app.tsx
  src/config/env/.env.example
  src/vite-env.d.ts
  vite.config.ts
Due: pnpm run lint, pnpm run format

chore: absloute paths
  package.json
  pnpm-lock.yaml
  src/main.tsx
  tsconfig.app.json
  vite.config.ts
Due: pnpm run lint, pnpm run format

chore: file and folder name convention eslint rule
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: none

feat(router): app router and provider setup
  package.json
  pnpm-lock.yaml
  src/app.tsx
  src/app/index.tsx
  src/app/provider.tsx
  src/app/router.tsx
  src/app/routes/landing.tsx
  src/config/paths/index.ts
Due: pnpm run lint, pnpm run format

chore: env validation
  .env.example
  package.json
  pnpm-lock.yaml
  src/app/index.tsx
  src/config/env/.env.example
  src/config/env/index.ts
  src/vite-env.d.ts
  vite.config.ts
Due: pnpm run lint, pnpm run format

fix: removed console logs
  src/app/index.tsx
  src/config/env/index.ts
Due: pnpm run lint, pnpm run format

feat(api): base api impl
  package.json
  pnpm-lock.yaml
  src/config/env/index.ts
  src/lib/api/gql-api.ts
  src/lib/api/rest-api.ts
  src/vite-env.d.ts
Due: pnpm run lint, pnpm run format

feat: react query
  package.json
  pnpm-lock.yaml
  src/app/provider.tsx
  src/lib/react-query/index.ts
Due: pnpm run lint, pnpm run format

fix(eslint): no explicit any rule is now off :D
  eslint.config.js
Due: none

feat: react query helper types
  src/lib/react-query/index.ts
Due: pnpm run lint, pnpm run format

fix: eslint "graphql generated types unused disable" errors
  eslint.config.js
Due: none

feat(auth): auth feature api & helpers
  src/app/provider.tsx
  src/features/auth/api/get-user.ts
  src/features/auth/api/login.ts
  src/features/auth/api/logout.ts
  src/features/auth/api/regisrer.ts
  src/features/auth/components/auth-loader.tsx
  src/lib/auth/index.tsx
  src/types/api/index.ts
Due: pnpm run lint, pnpm run format

feat(ui): tailwind setup
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/app/index.tsx
  src/styles/main.css
  tailwind.config.js
  tsconfig.app.json
  tsconfig.json
Due: pnpm run lint, pnpm run format

fix: add gql generated files inside eslint ignore
  eslint.config.js
Due: none

feat(ui): shadcn ui init
  components.json
  package.json
  pnpm-lock.yaml
  src/lib/utils.ts
  src/styles/main.css
  tailwind.config.js
Due: pnpm run lint, pnpm run format

feat(ui): form, label & button comp
  package.json
  pnpm-lock.yaml
  src/components/ui/button/button-variants.ts
  src/components/ui/button/button.tsx
  src/components/ui/button/index.ts
  src/components/ui/form/form.tsx
  src/components/ui/form/index.ts
  src/components/ui/form/use-form-field.ts
  src/components/ui/label/index.ts
  src/components/ui/label/label.tsx
Due: pnpm run lint, pnpm run format

fix: document direction and language
  index.html
Due: pnpm run format

feat(ui): input comp
  src/components/ui/input/index.ts
  src/components/ui/input/input.tsx
Due: pnpm run lint, pnpm run format

fix(api): auth return type
  src/features/auth/api/get-user.ts
  src/lib/api/rest-api.ts
  src/types/api/index.ts
Due: pnpm run lint, pnpm run format

feat(ui): sonner toast lib & comp
  package.json
  pnpm-lock.yaml
  src/app/provider.tsx
  src/components/ui/sonner/index.ts
  src/components/ui/sonner/sonner.tsx
Due: pnpm run lint, pnpm run format

feat(ui): password input comp
  src/components/ui/input/index.ts
  src/components/ui/input/password-input.tsx
Due: pnpm run lint, pnpm run format

feat(api): error type
  src/types/api/index.ts
Due: pnpm run lint, pnpm run format

fix(form): form description spacing
  src/components/ui/form/form.tsx
Due: pnpm run lint, pnpm run format

fix(sonner): position and bg color
  src/components/ui/sonner/sonner.tsx
Due: pnpm run lint, pnpm run format

fix(ui): removed unnecessary div element
  src/features/auth/components/auth-loader.tsx
Due: pnpm run lint, pnpm run format

fix(ui): color plate
  src/styles/main.css
Due: pnpm run format

fix: redirect url
  src/lib/auth/index.tsx
Due: pnpm run lint, pnpm run format

feat: react-hook-form api errors mapper helper
  src/lib/utils.ts
Due: pnpm run lint, pnpm run format

fix: input validation
  src/features/auth/api/login.ts
Due: pnpm run lint, pnpm run format

feat(auth): layout comp
  src/components/layout/auth-layout.tsx
Due: pnpm run lint, pnpm run format

feat(auth): login page
  src/app/router.tsx
  src/app/routes/auth/login.tsx
  src/config/paths/index.ts
  src/features/auth/components/login-form.tsx
Due: pnpm run lint, pnpm run format

feat(api): error handling
  src/lib/api/rest-api.ts
Due: pnpm run lint, pnpm run format

fix: added editional props
  src/components/layout/auth-layout.tsx
Due: pnpm run lint, pnpm run format

fix(ui): reduced radius
  src/styles/main.css
Due: pnpm run format

fix: register page path
  src/features/auth/components/login-form.tsx
Due: pnpm run lint, pnpm run format

feat(api): input validation & schema fix
  src/features/auth/api/regisrer.ts
Due: pnpm run lint, pnpm run format
